.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* 
.lol {
   margin-top: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #61dafb;
  width: 40%;
}

.Form-main-container {
  display: flex;
  justify-content: center;
}

.take-inputs-box {
  height: 80vh;
  width: 40%;
  background-color: antiquewhite;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.take-input {
  padding: 5px;

}

.name {
  padding: 0%;
  margin: 0%;
  font-size: large;
}

.user-name {
  padding: 10px 15px;
}

.user-email {
  padding: 10px 15px;
}

.user-Ph-no {
  padding: 10px 15px;
}



.btn-box {
  border: 1px solid;

}

.submit-button {
  padding: 10px 55px;
} */



/* @media only screen and (max-width: 768px) { */

/* For mobile phones: */
/* .lol {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header {
    display: flex;
    justify-content: center;
    background-color: #61dafb;
    width: 100%;
  }

  .take-inputs-box {
    height: 100vh;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
} */